body {
	font-size: 2vw;
	font-family: "verdana", "garamond", serif, monospace;
}

div {
	color: #303030;
	background-color: white;
	font-family: verdana;
	width: 100%;
	max-width: 900px;
	margin: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
 }

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 6px 8px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
