/**
 *  topics_list_style.tmpl file is a VSSG template file. It's the default template style for generating HTML pages
 *  enumerating topics within the blog. To be customized.
 */
.float{
  position:fixed;
  width:40px;
  height:40px;
  bottom:20px;
  right:20px;
  background-color: #FF7F00;
  color:#FFF;
  border-radius:20px;
  text-align:center;
  box-shadow: 2px 2px 3px #333;
}

.my-float {
  display:flex;
  align-items:center;
  justify-content:center;
}


body {
  font-family: "verdana", "garamond", serif, monospace;
  background-color: #444;
  font-size: 16px;
}

p {
  max-width: 900px;
}

h1 {
  font-size: 2.0rem;
  color: #FF7F00;
  text-align: center;
}

h2 {
  font-size: 1.5rem;
  color: #FF7F00;
  text-align: left;
}

h3 {
  font-size: 1.17rem;
  color: #FF7F00;
  text-align: left;
}

h4 {
  font-size: 1.0rem;
  color: #FF7F00;
  text-align: left;
}

h5 {
  font-size: 0.83rem;
  color: #FF7F00;
  text-align: left;
}

h6 {
  font-size: 0.67rem;
  color: #FF7F00;
  text-align: center;
  white-space: nowrap;
  font-weight: normal;
}

hr {
  border: 0;
  height: 1px;
  max-width: 900px;
  background-image: linear-gradient(to right, transparent, #808080, transparent);
}

div {
  color: #bbb;
  background-color: #252525;
  width: 100%;
  height: 100%;
  max-width: 900px;
  margin: auto;
  text-align: justify;
  padding-left: 2vw;
  padding-right: 2vw;
}



blockquote {
  background: #B0B0B0;
  border-left: 5px solid #000000;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #333;
  content: open-quote;
  font-size: 2em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote:after {
  color: #333;
  content: close-quote;
  font-size: 2em;
  line-height: 0.1em;
  margin-left: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  width=100%;
  max-width: 900px;
  display: block;
}

img {
  width: 100%;
  height: auto;
  border-radius: 4px;
  display: block;
  max-width: max-content;
  max-height:max-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2px;
  margin-top: 2px;
}

figcaption {
  color: #FF7F00;
  font-size: 0.65rem;
  font-weight: light;
  padding: 0px;
  text-align: center;
}

/* unvisited link */
a:link {
  color:  #ccc;
  text-decoration:none;
}

/* visited link */
a:visited {
  color: #ccc;
  text-decoration:none;
}

/* mouse over link */
a:hover {
  color: #fff;
  text-decoration:none;
  background: #FF7F00;
}

/* selected link */
a:active {
  color: blue;
  text-decoration:none;
}

button {
  background-color: #FF7F00;
  border: none;
  border-radius:5px;
  outline:none;
  color:  #ccc;
}

button:hover {
  background-color: #FF7F00;
  border: none;
  outline:none;
  border-radius:5px;
  color:  #FFF;
}

ul {
  list-style-type: disc;
  color: #ccc;
}

li {
  width: 100%;
  max-width: 900px;
  white-space: nowrap;
  color: #ccc;
}





