<!DOCTYPE html>
<html>
<!--
    This file is a template for vssg static site generator.
    It should be customized as needed.
    The [section:label]  MUST be present in given post file to be filled by the HTML generator.
    [@title]<br>[@poster]<br>[@date]<br>
-->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>[@title]</title>
<link rel="stylesheet" type="text/css" href="./style.css" />
</head>
<body>

<!-- Floating button back to the top. -->
<a href="#" class="float my-float" style="color: lightgrey">
TOP
</a>

<div>
<!-- POST HEADER -->
<img src="[@poster]"/>
<h1><center>[@title]</center></h1>
<center>&#x1f5d3; [@date]</center>
<hr>
[section:main]
<hr>
<a href="../[@posts_list_filename]">Back to posts list</a>
</div>
<!-- Footer -->
<h6>[-- Generated with vssg --]</h6>
</body>
</html>
