<!DOCTYPE html>
<html>
<!--
    topics_list.tmpl file is a VSSG template file. It's the default template for generating HTML pages enumerating
    topics within the blog. To be customized.

    The LinkModel  tag MUST be present, it signals where and how the
    generator will insert topic list.
-->
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>Available Topics</title>
    <link href="./style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<!-- Navigation bar -->
<iframe
        src="./menu.htm"
        style="border: none"
        title="navigation bar"
        width="100%"
></iframe>
<div>
    <img src="./banner.png">
    <h2 style="text-align:center">
        [@num] available topic(s)
    </h2>
    <hr>
    <ul>
        [LinkModel]
        <li><a href="[@url]"> [@title] </a> &#x1F553; - [@date]</li>
        [EndModel]
    </ul>
    <hr>
</div>
<!-- Footer -->
<div style="margin-top: 10vh;">
<h6>
    <a style="text-align:center;color:#444;" href="https://github.com/Bruno-Vdr/vssg">[Generated with vssg]</a>
</h6>
</div>
</body>
</html>
